body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: "Century Gothic", Arial, sans-serif;
  background-image: url(bg-4.gif);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
  font-size: 36px;
  margin-top: 40px;
}

h3 {
  font-size: 24px;
  color: red;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: 3px solid red;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #faeae8;
  border:  3px solid red;
  color: black;
  box-sizing: border-box;
}

#canvasDiv
{
  width: 500px;
  margin-left:auto; 
  margin-right:auto; 
  text-align: center;
}

canvas {
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 5px #aaa;
  background-color: #faeae8;
  text-align: center;
  margin-left: 60px;
  border: 10px inset red;
}

#gameOver
{
  color:red; 
  display:none;
}

#score
{
  display:none;
}

#topDiv
{
  margin-left: 50px; 
  text-align: center;
}

#mainHeading
{
  color:white;
}